
#sidebar {
  width: 20%;
  height: 100vh;
  background: #000000;
}

.contenedor{
  text-align: right;
  margin-right: auto

}

.imagen{
  width: 250px;
  padding-right: 15px;
  padding-top: 10px;
}

.dropdown-toggle::after {
        content: none;
    }

    .accordion {
--bs-accordion-active-color: black;
--bs-accordion-active-bg: white;
}


