<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: gold;">
  <div class="d-flex">
    <div id="sidebar" style="background-color: black">
      <div class="" style="background-color: blueviolet">
        <a href="" class="navbar-brand text-light w-100 p-5 border-bottom">
          MENU DE INICIO
        </a>
      </div>

      <div id="sidebar-accordion" class="accordion">
        <div class="list-group">

          <div class="accordion accordion-flush">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed dropdown-toggle" type="button" data-bs-toggle="collapse"
                        style="background-color: black; color: white;">
                  <i class="fa fa-user-circle mr-3 fa-2x" aria-hidden="true"></i>Usuarios
                </button>
              </h2>
            </div>
          </div>
            <!--  -->
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        style="background-color: black; color: white;"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <i class="fa fa-archive mr-3 fa-2x" aria-hidden="true"></i>Servicios
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="background-color: black;">
                  <a class="dropdown-item" href="#" style="padding-bottom: 1rem; color: blueviolet;">FrontDesk</a>
                  <a class="dropdown-item" href="#" style="padding-bottom: 1rem; color: blueviolet;">Cafeteria</a>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="accordion accordion-flush ">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed dropdown-toggle" type="button" data-bs-toggle="collapse"
                        style="background-color: black; color: white;">
                  <i class="fa fa-print mr-3 fa-2x" aria-hidden="true"></i>Facturación
                </button>
              </h2>
            </div>
          </div>
          <!--  -->
          <div class="accordion accordion-flush ">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed dropdown-toggle" type="button" data-bs-toggle="collapse"
                        style="background-color: black; color: white;">
                  <i class="fa fa-shopping-cart mr-3 fa-2x" aria-hidden="true"></i>Caja
                </button>
              </h2>
            </div>
          </div>
          <!--  -->
          <div class="accordion accordion-flush">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed dropdown-toggle" type="button" data-bs-toggle="collapse"
                        style="background-color: black; color: white;">
                  <i class="fa fa-sign-out mr-3 fa-2x" aria-hidden="true"></i>Cerrar sesión
                </button>
              </h2>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="content w-100">
      <nav style="background: #000000; height: 126px;">
        <div class="contenedor"><img class="imagen" id="logo" src="../../../assets/img/logo_flexzone_fotter.png"></div>
          <a href="" class="list-group-item list-group-item-action text-light" style="background-color: #000000; font-size: larger; padding-top: 1rem;">
              <div class="contenedor">
                <i class="fa fa-book mr-3 fa-1x" aria-hidden="true"></i>Bitacora
              </div>
          </a>
      </nav>

      <section class="p-3" >
        <div class="container" >
          <div class="row" >
            <div class="col-md-12">
                <h1 style="text-align: left;">Bienvenido</h1>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>
