<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div *ngIf="obtenido|async">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="paterno">
      <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="materno">
      <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef> Celular </th>
      <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha alta </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons>
  </mat-paginator> -->
</div>
